!!!5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      h1 Denon AVR X1000 remote
      .row
        .col-md-3
          h2 Status
          dl.horizontal
            dt Connected
            dd#data-connected Not connected
            
            dt Power
            dd#data-power ...
        
            dt Input
            dd#data-input ...
        
            dt Volume
            dd(id="data-volume") ...
      
        .col-md-9
          h2#data-info-title ...
          pre#data-info
  
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  
  :coffee
    Denon = do ->
      connect: (host, port)->
        # connect to the device
        socket.emit 'denon.connect', { host: host, port: port }
  
      command: (cmd, params)->
        # turn the device on
        socket.emit 'denon.command', { cmd: cmd, params: params or [] }
  
      exec: (cmd, params)->
        # turn the device on
        socket.emit 'denon.exec', { cmd: cmd, param: param or "" }
  
    socket = io.connect 'http://localhost'
    socket.on 'connect', (data)->
      Denon.connect '192.168.0.16', 23
  
    socket.on 'denon.connected', (data)->
      console.log 'denon.connected!'
      
      $("#data-connected").text "Connected" 
      
      # get power state and info
      Denon.command 'power'
      Denon.command 'input'
      Denon.command 'volume'
      Denon.command 'info'
  
  
    socket.on 'denon.response', (data)->
      switch data.cmd
        when 'power' then $("#data-power").text data.value   
        when 'input' then $("#data-input").text data.value
        when 'volume' then $("#data-volume").text data.value
        when 'info'
          for index, value of data.value
            # clear on new data and change title
            if index is "0"
              $("#data-info").empty()
              $("#data-info-title").text value
            # just append data
            else
              $("#data-info").append "#{value}\n"
        else
          console.log 'response', data  